@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Yantra+Manav:wght@100;300;400;500;700;900&display=swap');

@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-devanagari: "Yantra Manav", sans-serif;
  
  --color-brand-green-light: #f4faf6;
  --color-brand-green-medium: #10b981;
  --color-brand-green-dark: #065f46;
  --color-brand-orange-light: #fff7ed;
  --color-brand-orange-medium: #f97316;
  --color-brand-orange-dark: #9a3412;
  --color-brand-gold: #d97706;
}

body {
  font-family: var(--font-sans);
  background-color: #fafaf9;
  color: #1c1917;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

.hindi-text {
  font-family: var(--font-devanagari);
}
